langchain
langgraph
langchain-tavily
langchain-groq
langchain-core
langchain-community
langchain-huggingface==0.1.2
python-dotenv
fastapi
fastapi[standard]
uvicorn
pydantic
httpx
groq
pydantic-settings
sentence-transformers>=2.6.0
aiofiles
chromadb
PyPDF2
PyMuPDF
python-decouple
pytesseract
tiktoken
requests
python-multipart
