langchain
langgraph
langchain-tavily
langchain-groq
langchain-core
langchain-community
python-dotenv
fastapi
fastapi[standard]
uvicorn
pydantic
httpx
groq
pydantic-settings
spacy
sentence-transformers
aiofiles
chromadb
PyPDF2
PyMuPDF
python-decouple
pytesseract
# en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
# python-multipart

# download this for adding citation
# python -m spacy download en_core_web_sm
